.basic-button {
    -fx-background-color: #FFB2C5;
    -fx-font-family: "Dubai Medium";
    -fx-font-size: 12px;
    -fx-text-fill: #866B59;
}

.basic-button:pressed {
    -fx-background-color: #FFC7CE;
    -fx-translate-y: 2;
}

.basic-button:hover {
    -fx-background-color: #FFC0D0;
}

.pane {
    -fx-border-color: #DEB499;
    -fx-border-width: 7px;
    -fx-background-color: #F9EDE1;
}

.TTT-Button {
    -fx-border-color: #F9EDE1;
    -fx-border-width: 4px;
    -fx-background-radius: 25;
    -fx-font-size: 47;
    -fx-text-fill: #866B59;
    -fx-font-weight: bold;
}

.TTT-Button:pressed {
    -fx-background-color: #7d393e;
    -fx-translate-y: 2;
}

.scroll-pane {
    -fx-background: #FCE0D2;
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.connect4-Button{
    -fx-background-radius: 100;
    -fx-background-color: #F9EDE1;
}

.round-button {
    -fx-background-radius: 500;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
    -fx-padding: 0;
    -fx-background-color: #FFB2C5;
    -fx-font-family: "Dubai Medium";
    -fx-font-size: 12px;
    -fx-text-fill: #866B59;
}

.round-button:hover {
    -fx-background-color: #FFC0D0;
}

.round-button:pressed {
    -fx-background-color: #FFC7CE;
    -fx-translate-y: 2;
}

.pane .header-panel .label {
    -fx-font-family: "Dubai Medium";
    -fx-font-size: 18px;
    -fx-text-fill: #866B59;
}

.pane .content.label {
    -fx-font-family: "Dubai Medium";
    -fx-font-size: 14px;
    -fx-text-fill: #866B59;
}
