.basic-button {
    -fx-background-color: #FFB2C5;
    -fx-font-family: "Dubai Medium";
    -fx-font-size: 12px;
    -fx-text-fill: #866B59;
}

.basic-button:pressed {
    -fx-background-color: #FFC7CE;
    -fx-translate-y: 2;
}

.basic-button:hover {
    -fx-background-color: #FFC0D0;
}

.pane {
    -fx-border-color: #DEB499;
    -fx-border-width: 7px;
    -fx-background-color: #F9EDE1;
}

.TTT-Button {
    -fx-border-color: #F9EDE1;
    -fx-border-width: 4px;

}