target/
!**/src/main/**/target/
!**/src/test/**/target/

### Maven ###
.m2/
dependency-reduced-pom.xml

### IntelliJ IDEA ###
.idea/
out/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
Desktop.ini

### Logs ###
*.log

### Java build ###
*.class
*.jar

### Database ###
*.sqlite
*.db
